<% include partials/header %>
    <h1>Página inicial da Aplicação</h1>
    <form action="/alunos/listar" method="get">
        <button >Listar Alunos</button> 
    </form>
    <form action="/avaliacoes/listar" method="get">
        <button >Listar Avaliações</button>
    </form>
    <form action="/ies/listar" method="get">
        <button >Listar IES</button>
    </form>
<% include partials/footer %>