<% include ../partials/header %>
    <h1>Listando Avaliações</h1>
    <form action="/avaliacoes/criar" method="get">
        <button >Criar Avaliações</button>
    </form>
    <form action="/avaliacoes/editar" method="get">
        <button >Editar Avaliações</button>
    </form>
    <form action="/avaliacoes/remover" method="get">
        <button >Remover Avaliações</button>
    </form>
    <form action="/" method="get">
        <button >Voltar</button>
    </form>
<% include ../partials/footer %>