<% include ../partials/header %>
    <h1>Listando IES</h1>
    <form action="/ies/criar" method="get">
        <button >Criar IES</button>
    </form>
    <form action="/ies/editar" method="get">
        <button >Editar IES</button>
    </form>
    <form action="/ies/remover" method="get">
        <button >Remover IES</button>
    </form>
    <form action="/" method="get">
        <button >Voltar</button>
    </form>
<% include ../partials/footer %>