<% include ../partials/header %>
    <h1>Criando curso</h1>
    <form action="/cursos/listar" method="get">
        <table>
            <tr>
                <th>
                    <label>id: </label>
                </th>
                <th>
                    <label>Nome: </label>
                </th>
                <th>
                    <label>IES: </label>
                </th>
            </tr>
            <tr>
                <td>
                    <input  type="number" placeholder="Informe o ID"/>
                </td>
                <td>
                    <input  type="text" placeholder="Informe o Nome"/>
                </td>
                <td>
                    <input  type="email" placeholder="Informe a IES"/>
                </td>
            </tr>
        </table>
        <button >Voltar</button>
    </form>
<% include ../partials/footer %>