<% include ../partials/header %>
    <h1>Listando cursos</h1>
    <form action="/cursos/criar" method="get">
        <button >Criar Curso</button> 
    </form>
    <form action="/cursos/editar" method="get">
        <button >Editar Curso</button> 
    </form>
    <form action="/cursos/remover" method="get">
        <button >Remover Curso</button> 
    </form>
    <form action="/" method="get">
        <button >Voltar</button>
    </form>
<% include ../partials/footer %>