<% include ../partials/header %>
    <h1>Listando alunos</h1>
    <form action="/alunos/criar" method="get">
        <button >Criar Aluno</button> 
    </form>
    <form action="/alunos/editar" method="get">
        <button >Editar Aluno</button> 
    </form>
    <form action="/alunos/remover" method="get">
        <button >Remover Aluno</button> 
    </form>
    <form action="/" method="get">
        <button >Voltar</button>
    </form>
<% include ../partials/footer %>